@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    outline: none;
}

body{
    width: 100%;
    min-height: 100vh;
    padding: 32px 0 120px;
    background-color: #20986A30;
    transition: .32s;
}

.container{
    border-radius: 16px;
    width: 100%;
    max-width: 888px;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
    transition: .32s;
}

.container .header{
    width: 100%;
    height: 296px;
    background-color: #20986A;
    display: flex;
    align-items: center;
    gap: 32px;
    overflow: hidden;
    padding-left: 48px;
}

.container .header h1{
    color: #fff;
    font-size: 32px;
    line-height: 40px;
}

.container .header  img{
    height: 100%;
}

.main{
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .32s;
}

.main .inputs{
    width: 100%;
    display: flex;
    gap: 16px;
}

.main .inputs .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.main .inputs .content label {
    font-size: 12px;
    color: #7f8182;
    position: absolute;
    line-height: 24px;
    top: 0;
}

.main .inputs .content .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    width: 100%;
}

.main .inputs .content .flex .btn-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #0E6930;
    font-weight: 600;
    font-size: 20px;
    background-color: #20986A30;
    cursor: pointer;
    user-select: none;
    position: absolute;
}

.main .inputs .reload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    min-width: 56px;
    height: 56px;
    border-radius: 50%;
    color: #0E6930;
    font-weight: 600;
    font-size: 20px;
    background-color: #20986A30;
    cursor: pointer;
    user-select: none;
}

.main .inputs .content .flex .btn-action.menos {
    left: 4px;
}

.main .inputs .content .flex .btn-action.mais {
    right: 4px;
}

.main .inputs .input_sena{
    width: 100%;
    height: 56px;
    text-align: center;
    border: 1px solid #c4c4c4;
    border-radius: 32px;
    font-weight: 600;
    font-size: 18px;
    padding-top: 16px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
}

.main .inputs .input_sena:focus {
    border-color: #20986A;
}

.btn {
    background-color: #0E6930;
    color: #fff;
    border: none;
    transition: .16s;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    height: 56px;
    text-align: center;
    border-radius: 32px;
    font-weight: 600;
}

.btn:hover,
.btn-action:hover,
.reload:hover {
    filter: brightness(112%);
}

.btn:active,
.btn-action:active,
.reload:active {
    transform: scale(.96);
}

.main .resultados {
    width: 100%;
}

.main .resultados .jogos {
    display: none;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-top: 48px;
}

.main .resultados .linha{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.main .resultados .linha .numero-jogo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 16px;
    background-color: #20986A;
    color: #fff;
    font-weight: 600;
}

.main .resultados .linha .numeros-sorteados {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    position: relative;
    padding: 16px;
    background-color: #f2f3f5;
    color: #fff;
}

.main .resultados .bola {
    background-color: #0E6930;
    color: #fff;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
}

.valores {
    position: fixed;
    bottom: 24px;
    right: 24px;
    background-color: #0E6930;
    padding: 16px 24px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 10;
    box-shadow: 0 12px 16px rgba(50,50,50,.5);
}

.valores .icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff30;
    border-radius: 50%;
}

.valores .icon span {
    color: #fff;
    font-size: 24px;
}

.valores p {
    font-size: 14px;
    color: #8FCBB2;
}

.valores .item p span {
    font-size: 14px;
    color: #0E6930;
    font-weight: 600;
}

@media(max-width:600px){
    .main .inputs{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .linha {
        padding: 24px 0;
        border-bottom: 1px solid #0E6930;
    }

    .numero-jogo {
        position: absolute;
        top: 0px;
        text-transform: uppercase;
        font-weight: 600;
        color: #0E6930;
    }

    .main .inputs .input_sena {
        width: 100%;
    }
    .container{
       width: 100%;
    }
    .main .resultados .linha{
        gap: 8px;
    }
    .main .resultados .bola{
        font-size: 16px;
    }
}
@media(max-width:400px){
    
    .main .inputs{
        flex-direction: column;
        align-items: center;
    }
    .container{
       width: 100%;

    }
    .main .resultados .linha{
        gap: 8px;
        flex-wrap: wrap;
    }
    .main .resultados .bola{
        font-size: 16px;
    }
}